@import compass/reset
@import partials/base
@import compass/typography/links
@import compass/typography/lists/bullets
@import compass/css3
@import compass/utilities/tables

$blue: #202b5f
$green: #27592c
$red: #491317
$black: #231f20
$orange: #e97b24
$light-blue: #2D86C7

/* Micro Clearfix - http://nicolasgallagher.com/micro-clearfix-hack/
/* For modern browsers

.cf
  &:before
    content: ""
    display: table
  &:after
    content: ""
    display: table
    clear: both
  zoom: 1

/* For IE 6/7 (trigger hasLayout)

/* GLOBAL STYLES
 *__________________________________________________

html
  background: $blue
  /* default background - deal of the day

body
  font: 14px / 100% Arial, "FreeSans", sans-serif
  /* Win/Mac, Win/Mac, Linux, generic
  width: 948px
  background: white
  margin: 0 auto
  padding-top: 129px
  position: relative

/* COLOR CHANGING LOGIC STYLES
 *__________________________________________________

html
  &.deal-of-the-day
    background: $blue
  &.coupon-of-the-day
    background: $green
  &.other-deals
    background: $red
  &.black-friday
    background: $black
  &.items-of-the-day
    background: $orange
  &.deal-of-the-day #main-menu
    background: url('../images/main-menu-deal-of-the-day.png') left top no-repeat $blue
  &.coupon-of-the-day #main-menu
    background: url('../images/main-menu-coupon-of-the-day.png') left top no-repeat $green
  &.other-deals #main-menu
    background: url('../images/main-menu-other-deals.png') left top no-repeat $red
  &.black-friday #main-menu
    background: url('../images/main-menu-black-friday.png') left top no-repeat $black
  &.items-of-the-day #main-menu
    background: url('../images/main-menu-items-of-the-day.png') left top no-repeat $orange
  &.deal-of-the-day #inner-content
    border-top: 4px solid $blue
    border-left: 4px solid $blue
  &.coupon-of-the-day #inner-content
    border-top: 4px solid $green
    border-left: 4px solid $green
  &.other-deals #inner-content
    border-top: 4px solid $red
    border-left: 4px solid $red
  &.black-friday #inner-content
    border-top: 4px solid $black
    border-left: 4px solid $black
  &.items-of-the-day #inner-content
    border-top: 4px solid $orange
    border-left: 4px solid $orange
  &.deal-of-the-day #sidebar li.active
    border: solid $blue
  &.coupon-of-the-day #sidebar li.active
    border: solid $green
  &.other-deals #sidebar li.active
    border: solid $red
  &.black-friday #sidebar li.active
    border: solid $black
  &.items-of-the-day #sidebar li.active
    border: solid $orange
  &.deal-of-the-day #footer
    border: solid $blue
  &.coupon-of-the-day #footer
    border: solid $green
  &.other-deals #footer
    border: solid $red
  &.black-friday #footer
    border: solid $black
  &.items-of-the-day #footer
    border: solid $orange

/* HEADER STYLES
 *__________________________________________________

#header
  width: 948px
  height: 129px
  position: absolute
  left: 0
  top: 0

.logo
  position: absolute
  top: 9px
  left: 5px

/* MAIN MENU STYLES

#main-menu
  position: absolute
  right: 0
  top: 95px
  width: 829px
  height: 27px
  background: url('../images/main-menu-deal-of-the-day.png') left top no-repeat $blue
  border-color: #946638
  border-width: 1px 0
  z-index: 100
  padding-left: 113px
  li
    float: left
    margin-left: 21px
    height: 27px
    font: 20px / 100% "Times New Roman", serif
    a
      &:link, &:visited
        font-size: 20px
        line-height: 27px
        color: white
        text-decoration: none
        font-weight: bold
      &:hover
        text-decoration: underline

/* SECONDARY STYLES

#secondary-menu
  position: absolute
  right: 28px
  top: 62px
  li
    float: left
    color: $light-blue
    margin-left: 5px
    a
      &:link, &:visited
        font-size: 18px
        color: $blue
        text-decoration: none
      &:hover
        text-decoration: underline

/* HEADER SEARCH FORM STYLES

#header
  form
    position: absolute
    top: 14px
    right: 26px
  input
    font: 14px / 100% Arial, "FreeSans", sans-serif
    /* Win/Mac, Win/Mac, Linux, generic
    float: left
    &.search-input
      width: 177px
      height: 30px
      line-height: 28px
      padding: 0 8px
      border: 1px solid $light-blue
      color: $blue
      margin-right: 3px

/* CONTENT STYLES
 *__________________________________________________

#content
  margin-top: 4px

/* INNER CONTENT STYLES

#inner-content
  float: right
  width: 836px
  min-height: 690px
  border-top: 4px solid $blue
  border-left: 4px solid $blue
  padding-top: 7px

#container
  padding: 7px

/* PROMO LISTING STYLES

#promo-listing li
  margin-bottom: 22px
  float: left
  width: 204px
  height: 174px
  margin: 0 0 7px 7px
  border: 2px solid $light-blue

/* PAGER STYLES

#pager
  margin: 22px 0 12px 7px
  float: left
  li
    float: left
    margin-right: 14px
    &:first-child
      color: $light-blue
      margin-right: 7px
    a
      &:link, &:visited
        text-decoration: none
        color: $blue
      &:hover
        text-decoration: underline

/* ITEMS PER PAGE FORM STYLES

#item-page-form
  margin: 6px 190px 0 0
  float: right
  label
    float: left
    color: $light-blue
    margin-right: 8px
    padding-top: 15px
  input
    font: 14px / 100% Arial, "FreeSans", sans-serif
    /* Win/Mac, Win/Mac, Linux, generic
    height: 28px
    line-height: 28px
    float: left
    color: $light-blue
    padding: 0 5px
    width: 19px
    border: 2px solid $blue
    &.submit
      padding: 0
      border: 0
      width: 33px
      height: 32px
      margin-left: 4px

/* SIDEBAR STYLES

#sidebar
  width: 95px
  padding-left: 8px
  border-left: 5px solid white
  float: left
  li
    width: 98px
    height: 134px
    margin-bottom: 6px
    &.active
      width: 99px
      height: 126px
      border: solid $blue
      border-width: 4px 0 4px 0 !important
      background: white
    a
      &:link, &:visited
        display: block
        width: 90px
        height: 134px
        text-indent: -9999px
      &.anch-deal-of-the-day
        background: url(../images/but-sidebar-sprite.jpg) left top no-repeat transparent
    &.active a.anch-deal-of-the-day
      margin-top: -4px
      background: url(../images/but-sidebar-sprite.jpg) -90px top no-repeat transparent
    a.anch-coupon-of-the-day
      background: url(../images/but-sidebar-sprite.jpg) left -134px no-repeat transparent
    &.active a.anch-coupon-of-the-day
      margin-top: -4px
      background: url(../images/but-sidebar-sprite.jpg) -90px -134px no-repeat transparent
    a.anch-other-deals
      background: url(../images/but-sidebar-sprite.jpg) left -268px no-repeat transparent
    &.active a.anch-other-deals
      margin-top: -4px
      background: url(../images/but-sidebar-sprite.jpg) -90px -268px no-repeat transparent
    a.anch-black-friday
      background: url(../images/but-sidebar-sprite.jpg) left -402px no-repeat transparent
    &.active a.anch-black-friday
      margin-top: -4px
      background: url(../images/but-sidebar-sprite.jpg) -90px -402px no-repeat transparent
    a.anch-items-of-the-day
      background: url(../images/but-sidebar-sprite.jpg) left -536px no-repeat transparent
    &.active a.anch-items-of-the-day
      margin-top: -3px
      background: url(../images/but-sidebar-sprite.jpg) -90px -536px no-repeat transparent

/* FOOTER STYLES
 *__________________________________________________

#footer
  border: solid $blue
  border-width: 1px 0 !important
  height: 45px
  color: #699CD3
  position: relative

/* FOOTER MENU STYLES

#footer-menu
  margin: 9px 0 0 6px
  color: $blue
  li
    float: left
    background: url(../images/bullet-footer.gif) left center no-repeat transparent
    padding-left: 12px
    margin-right: 5px
    &:first-child
      background: none
      padding: 0
    a
      &:link, &:visited
        color: #699CD3
        text-decoration: none
      &:hover
        text-decoration: underline

/* SOCIAL BUTTONS MENU STYLES

#social-menu
  position: absolute
  right: 190px
  top: 6px
  li
    float: left
    margin-left: 37px

/* COPYRIGHT STYLES

#footer p
  position: absolute
  left: 6px
  bottom: 5px
  font-size: 13px

#promo-listing .item        
  overflow: auto
  padding: 5px
  font-size: 11px
  margin-bottom: 20px    
  height: 160px
  .item-title
    font-size: 1.2em
    font-weight: bold
  .item-body
    img
      float: left
      margin-right: 5px
      height: 80px
    .item-price
      font-weight: bold
      font-size: 1.3em
      color: #B20811
    .item-desc_long
      width: 120px
      text-overflow: ellipsis
      white-space:nowrap
      overflow:hidden
 
.error 
  color: red

#container    
  font-size: 1em
//  a
//    font-family: Helvetica, Arial, sans-serif
//    font-size: 1.2em
//    +hover-link
//    +link-colors(#515761,  #526073, #c0c, #6D7582, #b20811)

a.toggle-state
  background-repeat: no-repeat
  display: inline-block
  min-width: 16px
  background-image: url("../images/error.png")


a.toggle-state.active
  background-image: url("../images/ok.png")

a#delete-link
  float: right

#enabled_categories
  float: left

#all_categories
  float: right

.expired
  color: #b20811
  font-weight: bold
#sites
  table
    +table-scaffolding
    $table-color : #d0dbea
    +alternating-rows-and-columns($table-color, adjust-hue($table-color, -120deg), #222)

.site-label>label,
  width: 250px
  display: inline-block